<ul class="nav-desktop-menu nav justify-content-center">
  <li class="nav-item">
    <a 
      class="nav-link {% if template == 'index' %}active{% endif %}" 
      href="/"
      aria-current="{% if template == 'index' %}page{% endif %}">
      Home
    </a>
  </li>
  <li class="nav-item">
    <a 
      class="nav-link" 
      href="/collections/all">
      Catalog
    </a>
  </li>
  <li class="nav-item">
    <a 
      class="nav-link" 
      href="/pages/contact">
      Contact
    </a>
  </li>
  <li class="nav-item">
    <a 
      class="nav-link" 
      href="/pages/about-us">
      About Us
    </a>
  </li>
  <li class="nav-item">
    <a 
      class="nav-link" 
      href="/pages/faq">
      FAQs
    </a>
  </li>
</ul>
